body {
    font-family: sans-serif;
    background-color:#7FFFD4;
}

h1, h2 {
    border-radius: 15px;
    border:5px solid #00FA9A;
    padding: 5px;
    color: 	#F5FFFA;
    text-align: center;
    background-color:	#00FA9A ;
}
img {
    text-align: center;
    
